.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 205px;
  border-radius: 4px;
  background: #281e35;
  padding: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: transform 0.3s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.title {
  font-family: var(--font-mona);
  font-weight: 700;
  font-stretch: 75%;
  font-variation-settings:
    'slnt' 0,
    'wdth' 125;
}

.arrowSvgActive {
  margin-top: 2px;
}

.arrowSvgActive path {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease; /* Adding transitions for scaling and opacity */
}

.arrowSvgActive path:nth-child(1) {
  opacity: 0; /* Initially set the opacity to 0 */
  transform: translate(-15px);
}
.arrowSvgActive path {
  transform: translate(-10px);
  fill: #aaa;
}

.topElementContainer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #aaa;
}

.languagesContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 200px;
}

.viewContainer {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}

.viewContainer span {
  font-size: 14px;
  padding-right: 8px;
  color: #aaa;
}

@media (min-width: 769px) {
  .container:hover {
    transform: scale(1.05);
    box-shadow: var(--boxShadowCard);

    /* box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(240, 0, 136, 0.3) 0px 30px 60px -30px; */
    /* box-shadow:
    rgba(240, 0, 136, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  }

  .container:hover .arrowSvg {
    display: none;
  }
  .container:hover .arrowSvgActive {
    display: inline;
  }
  .container:hover .arrowSvgActive path:nth-child(1) {
    /* fill: var(--secondary-hex); */
    fill: #fff;
    transform: translate(0);
    opacity: 1; /* Make the first path visible on hover */
  }

  .container:hover .arrowSvgActive path:nth-child(2) {
    /* fill: var(--secondary-hex); */
    fill: #fff;
    transform: translate(0);
  }
  .container:hover .viewContainer span {
    color: #fff;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    max-width: 360px;
    height: 190px;
  }
}
